*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/app/src/androidTest
/app/src/debug
/app/src/test
.DS_Store
/build
/captures
.externalNativeBuild
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp